VITE_MIDNIGHT_INDEXER_URL=https://indexer.preview.midnight.network/api/v1/graphql
VITE_MIDNIGHT_INDEXER_WS_URL=wss://indexer.preview.midnight.network/api/v1/graphql/ws
VITE_MIDNIGHT_NODE_URL=https://rpc.preview.midnight.network
VITE_MIDNIGHT_PROOF_SERVER_URL=https://proof-pub.preview.midnight.network
VITE_MIDNIGHT_FAUCET_URL=https://midnight-tmnight-preview.nethermind.dev
